.input {
  padding: 10px 15px;
  width: 100%;

  font-size: 20px;
  font-family: "Roboto";

  outline: none;
  border: none;
  border-radius: 10px;
}

.input::placeholder {
  color: #a8a7a7;
  font-size: 15px;
  font-weight: 300;
}

.input_edit {
  animation: show 0.3s forwards;
}

@keyframes show {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
